<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="missedcall" class="com.cg.Example.MissedCallAlertService" />
	<bean id="internet" class="com.cg.Example.InternetService" />
	<bean id="hellotune" class="com.cg.Example.HelloTuneService" />


	<bean id="airtel" class="com.cg.Example.Airtel">

		<property name="service" ref="hellotune"></property>

	</bean>




</beans>